<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form>
      <div class="input-feild">
        <div>
          <p>Rate Your Sleep Quality</p>
          <label> <input type="radio" name="sleep-quality" value="1" required />1 </label>
          <label> <input type="radio" name="sleep-quality" value="2" required />2 </label>
          <label> <input type="radio" name="sleep-quality" value="3" required />3 </label>
          <label> <input type="radio" name="sleep-quality" value="4" required />4 </label>
          <label> <input type="radio" name="sleep-quality" value="5" required />5 </label>
        </div>
        <div>
          <p>How many times a week do you suffer Headaches?</p>
          <label> <input type="radio" name="headaches" value="1" required />1 </label>
          <label> <input type="radio" name="headaches" value="2" required />2 </label>
          <label> <input type="radio" name="headaches" value="3" required />3 </label>
          <label> <input type="radio" name="headaches" value="4" required />4 </label>
          <label> <input type="radio" name="headaches" value="5" required />5 </label>
        </div>
        <div>
          <p>How would you Rate your Academic Performance?</p>
          <label> <input type="radio" name="academic-performance" value="1" required />1 </label>
          <label> <input type="radio" name="academic-performance" value="2" required />2 </label>
          <label> <input type="radio" name="academic-performance" value="3" required />3 </label>
          <label> <input type="radio" name="academic-performance" value="4" required />4 </label>
          <label> <input type="radio" name="academic-performance" value="5" required />5 </label>
        </div>
        <div>
          <p>Rate Your Study Load</p>
          <label> <input type="radio" name="study-load" value="1" required />1 </label>
          <label> <input type="radio" name="study-load" value="2" required />2 </label>
          <label> <input type="radio" name="study-load" value="3" required />3 </label>
          <label> <input type="radio" name="study-load" value="4" required />4 </label>
          <label> <input type="radio" name="study-load" value="5" required />5 </label>
        </div>
        <div>
          <p>How many time a week do practice Extracurricular Activities</p>
          <label> <input type="radio" name="extracurricular" value="1" required />1 </label>
          <label> <input type="radio" name="extracurricular" value="2" required />2 </label>
          <label> <input type="radio" name="extracurricular" value="3" required />3 </label>
          <label> <input type="radio" name="extracurricular" value="4" required />4 </label>
          <label> <input type="radio" name="extracurricular" value="5" required />5 </label>
        </div>
      </div>
      <div class="submit-data">
        <input type="submit" value="Calculate Stress" />
      </div>
    </form>
  </body>
</html>
